

.profile {
    color: #fff;
    font-weight: 600;
}

/* Table and category styling */
.categories-container {
    margin: 20px;
    overflow-x: auto;
}








/* Category tabs */
.category-tabs {
    text-align: center;
    margin-bottom: 20px;
}

.category-tab {
    background-color: #f1f1f1;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 20px;
    font-size: 18px;
    transition: background-color 0.3s ease;
    margin-right: 10px;
    border-radius: 5px;
    
    
}

.category-tab:hover {
    background-color: #ddd;
}

.category-tab.active {
    background-color: #4CAF50;
    color: white;
}

.category-content {
    display: none;
}




body {
    background-color: #121212;
    color: #FFFFFF;
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
}

header {
width: 100%;
background-color: #333;
padding: 10px 0;
}

.navbar {

max-width: 1200px;
width: 100%;
margin: 0 auto;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 20px;
}

.logo {
position: relative;
color: white; 
font-size: 50px; 
font-family: Italianno;
font-weight: 400;
top: 0px;
left: 40px;
}

.nav-menu {
list-style: none;
display: flex;
gap: 20px;
margin: 0;
padding: 0;
}

.nav-menu li {
display: inline;
position: relative;
left:50px;
}

.nav-menu a {
color: #fff;
text-decoration: none;
font-size: 1em;
}

.nav-buttons {
display: flex;
gap: 10px;
}

.profile {
position: relative;
left: 50px;
text-decoration: none;
color:white;
background-color: #333;
border: 1px solid hsl(38, 61%, 73%);
border-radius: 20px;
padding: 10px 20px;
font-size: 16px;
margin: 5px;
transition: background-color 0.3s ease, color 0.3s ease;
}

.profile:hover {
color: hsl(38, 61%, 73%);
}

.logout {
position: relative;
left: 55px;
text-decoration: none;
background-color: hsl(38, 61%, 73%);
padding: 8px 17px;
color: black;
border: 1px solid hsl(38, 61%, 73%);
font-size: 16px;
margin: 5px;
transition: background-color 0.3s ease, color 0.3s ease;
}

.logout:hover {
background-color: #333;
color: white;
}

h2 {
    text-align: center;
    margin-top: 20px;
}

.form-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.form-container input[type="text"], .form-container select, .form-container button {
    margin: 0 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.form-container input[type="text"] {
    width: 200px;
}

.form-container select {
    width: 150px;
}

.form-container button {
    background-color: #333;
    color: #FFFFFF;
    border:1px solid hsl(38, 61%, 73%);
    cursor: pointer;
}

.form-container button:hover {
    background-color: hsl(38, 61%, 73%);
    color:black;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.product-card {
    
    background-color: #1E1E1E;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    width: 300px;
    overflow: hidden;
    text-align: center;
    border:1px solid hsl(38, 61%, 73%);
}

.product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product-card h3 {
    margin: 15px 0 5px;
    font-size:25px;
}

.product-card p {
    margin: 5px 0;
    color: #BBBBBB;
}

.product-card .price {
    color: hsl(38, 61%, 73%);
    font-size: 1.2em;
    margin: 10px 0;
}

.product-card form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}

.product-card input[type="number"] {
    width: 60px;
    padding: 5px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.product-card button {
background-color: hsl(38, 61%, 73%);
color: black;
border: none;
padding: 10px 20px;
cursor: pointer;
margin: 5px 0;
}

.product-card button:hover {
background-color: #4044414f;
border: 1px solid hsl(38, 61%, 73%);
color:white;
}

.fixed-cart-link {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: #1DB954;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.fixed-cart-link:hover {
    background-color: #1AA34A;
}

.cart-link {
    display: block;
    text-align: center;
    margin: 20px 0;
    color: #1DB954;
    text-decoration: none;
}

.cart-link:hover {
    color: #1AA34A;
}

.footer-bottom{
    display: flex;
    justify-content:center;
    align-items:center;
    padding:20px;
    background-color: #333;
}

